#################################################
# Terraform
#################################################

.terraform/

*.tfstate
*.tfstate.*

terraform.tfvars

override.tf

override.tf.json

#################################################
# Kubernetes
#################################################

*.kubeconfig

#################################################
# Docker
#################################################

docker-data/

volumes/

#################################################
# Secrets
#################################################

*.pem
*.key
